body {
    margin: 0;
    padding: 0;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 100px;
    grid-template-areas: 
    'header'
    '.'
    'footer';

    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: blue;
}

footer {
    grid-area: footer;
    background-color: crimson;
}